<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<div class="text-center flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">プロフィール編集</h2>
  </div>
　 <%= form_with model: @user, url: profile_path, local: true do |f| %>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" action="#" method="POST">
      <div>
        <label for="email" class="mt-10 block text-sm font-medium leading-6 text-gray-900">メールアドレス</label>
         <%= f.email_field :email, class: 'form-control mb-3 mt-3' %>
      </div>

      <div>
        <label for="email" class="mt-10 block text-sm font-medium leading-6 text-gray-900">名前</label>
         <%= f.text_field :name, class: 'form-control mb-3 mt-3' %>
        
         
        </div>
      </div>

      <div>
        <label for="email" class="mt-10 block text-sm font-medium leading-6 text-gray-900">画像</label>
         <%= f.file_field :avatar, class: 'form-control mb-3 mt-3', accept: 'image/*' %>
        <%= f.hidden_field :avatar_cache %>
      </div>
        <%= f.submit class: 'mt-5 btn btn-primary' %>
    <p class="mt-10 text-center text-sm text-gray-500">
      Not a member?
      <a href="#" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Start a 14 day free trial</a>
    </p>
  </div>
</div>
<%end%>
